
name: main

# Controls when the workflow will run
on:
  # Triggers the workflow on push events but only for the main branch
  push:
    branches: [ main ]
  # pull_request:
  #   branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    # job env variables
    env:
      AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
      AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
      AWS_DEFAULT_REGION: ${{secrets.AWS_DEFAULT_REGION}}

    steps:
      - name: Checkout repository code
        uses: actions/checkout@v2

      - name: List files in the repository
        run: ls -la ${{github.workspace}}/aws/s3/package/

      - name: Zip up package and place in aws/s3/
        run: zip -r ${{github.workspace}}/aws/s3/package/package.zip ${{github.workspace}}/package/

      - name: Sync aws/s3/ to s3://grejdi-plan/
        run: aws s3 sync ${{github.workspace}}/aws/s3/ s3://grejdi-plan/ --exclude "*/empty"
